<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>


<h2 align="center">Student Academic Management System </h2>
    <div align="center">
    <a href="{% url 'adminhome' %}">Home</a> &nbsp;&nbsp;&nbsp;
    <a href="">Change Password</a>&nbsp;&nbsp;&nbsp;
    <a href="{% url 'viewstudents' %}">Student</a>&nbsp;&nbsp;&nbsp;
    <a href="{% url 'viewfaculty' %}">Faculty</a>&nbsp;&nbsp;&nbsp;
    <a href="{% url 'viewcourses' %}">Course</a>&nbsp;&nbsp;&nbsp;
    <a href="{% url 'adminlogout' %}">Logout</a>
    </div>

{% block 'body' %}
    <div align="center">
        <p>I am in Admin Home Page</p>
    </div>
{% endblock%}
</body>
</html>